[Desktop Entry]
Type=Service
Icon=preferences-system
Exec=kcmshell5 msm_kernel

X-KDE-Library=msm_kernel
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_kernel
X-KDE-Keywords=kernel
X-KDE-Keywords[x-test]=xxkernelxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Kernel
Name[x-test]=xxKernelxx
Name[fr]=Noyau
Name[pl]=Jądro
Name[sk]=Jadro
Comment=Add and remove manjaro kernels
Comment[x-test]=xxAdd and remove manjaro kernelsxx
Comment[fr]=Ajouter et supprimer des noyaux manjaro
Comment[pl]=Zarządzaj jądrami Manjaro
Comment[sk]=Pridáva a odstraňuje jadrá systému Manjaro
