[Desktop Entry]
Type=Service
Icon=preferences-system
Exec=kcmshell5 msm_kernel

X-KDE-Library=msm_kernel
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_kernel
X-KDE-Keywords=kernel
X-KDE-Keywords[x-test]=xxkernelxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Kernel
Name[ast]=Kernel
Name[ca]=Nucli
Name[cs_CZ]=Jádro
Name[da]=Kerne
Name[de]=Kernel
Name[el]=Πυρήνας
Name[es]=Núcleo
Name[es_419]=Kernel
Name[es_AR]=Kernel
Name[fr]=Noyau
Name[he]=קרנל
Name[hr]=Kernel
Name[hu]=Kernel
Name[is]=Kjarni
Name[it]=Kernel
Name[ja]=カーネル
Name[lt]=Branduolys
Name[pl]=Jądro
Name[pt_BR]=Kernel
Name[pt_PT]=Núcleo (kernel)
Name[ru]=Ядро
Name[sk_SK]=Jadro
Name[sl]=Jedro
Name[sv]=Kärna
Name[tr]=Çekirdek
Name[uk]=Ядро
Name[zh_TW]=核心
Comment=Add and remove manjaro kernels
Comment[fr]=Ajouter et supprimer des noyaux manjaro
Comment[pl]=Zarządzaj jądrami Manjaro
Comment[sk]=Pridáva a odstraňuje jadrá systému Manjaro
