[Desktop Entry]
Type=Service
Icon=preferences-system
Exec=kcmshell5 msm_kernel

X-KDE-Library=msm_kernel
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_kernel
X-KDE-Keywords=kernel
X-KDE-Keywords[x-test]=xxkernelxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Kernel
Name[ca]=Nucli
Name[de]=Kernel
Name[el]=Πυρήνας
Name[es]=Núcleo
Name[fi]=Ydin
Name[fr]=Noyau
Name[hr]=Jezgra
Name[hu]=Kernel
Name[it]=Kernel
Name[ja]=カーネル
Name[lt]=Branduolys
Name[pl]=Jądro
Name[pt_PT]=Kernel
Name[sk_SK]=Jadro
Name[sv]=Kärna
Name[tr]=Linux Çekirdeği
Name[zh_TW]=核心

Name[ast]=Kernel
Name[cs_CZ]=Jádro
Name[da]=Kerne
Name[es_419]=Kernel
Name[es_AR]=Kernel
Name[he]=קרנל
Name[is]=Kjarni
Name[pt_BR]=Kernel
Name[ru]=Ядро
Name[sl]=Jedro
Name[uk]=Ядро

Comment=Add and remove manjaro kernels
Comment[ca]=Afegiu i elimineu nuclis del Manjaro
Comment[de]=Manjaro-Kernel hinzufügen oder entfernen
Comment[el]=Προσθήκη και αφαίρεση πυρήνων manjaro
Comment[es]=Añadir o quitar núcleos Manjaro
Comment[fi]=Lisää ja poista manjaro ytimiä
Comment[fr]=Ajouter et supprimer des noyau manjaro
Comment[hr]=Dodaj i ukloni manjaro jezgre
Comment[hu]=Manjaro kernelek hozzáadása és eltávolítása
Comment[it]=Aggiungi e rimuovi i kernel di Manjaro
Comment[ja]=カーネルの追加と削除
Comment[lt]=Pridėti ir šalinti manjaro branduolius
Comment[pl]=Dodawaj i usuwaj jądra systemowe
Comment[pt_PT]=Adicionar ou remover kernels
Comment[sk_SK]=Pridanie a odstránenie jadier systému Manjaro
Comment[sv]=Lägg till och ta bort Manjarokärnor
Comment[tr]=Manjaro için linux çekirdeği ekle ve kaldır
Comment[zh_TW]=新增與移除 manjaro 核心
