[Desktop Entry]
Type=Service
Icon=preferences-system-time
Exec=kcmshell5 msm_timedate

X-KDE-Library=msm_timedate
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_timedate
X-KDE-Keywords=timedate
X-KDE-Keywords[x-test]=xxtimedatesxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Time and Date
Name[ast]=Data y hora
Name[ca]=Data i hora
Name[cs_CZ]=Datum a čas
Name[da]=Tid og Dato
Name[de]=Zeit und Datum
Name[el]=Ημερομηνία και Ώρα
Name[es]=Fecha y hora
Name[es_419]=Hora y Fecha
Name[fr]=Heure et Date
Name[hr]=Vrijeme i datum
Name[hu]=Idő és Dátum
Name[is]=Tími og dagsetning
Name[it]=Data e Ora
Name[ja]=時刻と日付
Name[lt]=Laikas ir data
Name[pl]=Czas i data
Name[pt_BR]=Hora e Data
Name[pt_PT]=Hora e Data
Name[ru]=Дата и время
Name[sk_SK]=Čas a dátum
Name[sl]=Čas in datum
Name[sv]=Tid och datum
Name[tr]=Tarih ve Zaman
Name[uk]=Час та Дата
Name[zh_TW]=時間與日期
Comment=Time and Date Settings
Comment[fr]=Paramètres de date et heure
Comment[pl]=Ustawienia daty i czasu
Comment[sk]=Nastavenia času a dátumu
