[Desktop Entry]
Type=Service
Icon=preferences-desktop-user
Exec=kcmshell5 msm_users

X-KDE-Library=msm_users
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_users
X-KDE-Keywords=users
X-KDE-Keywords[x-test]=xxusersxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=User Accounts
Name[ast]=Cuentes d'usuariu
Name[ca]=Comptes d'usuari
Name[cs_CZ]=Účty uživatelů
Name[da]=Bruger Konti
Name[de]=Benutzerkonten
Name[el]=Λογαριασμοί Χρηστών
Name[es]=Cuentas de usuario
Name[es_419]=Cuentas de Usuario
Name[es_AR]=Cuenta de usuario
Name[fr]=Comptes utilisateur
Name[he]=חשבונות משתמש
Name[hr]=Korisnički računi
Name[hu]=Felhasználói fiókok
Name[is]=Aðgangar notanda
Name[it]=Account utenti
Name[ja]=ユーザーアカウント
Name[lt]=Naudotojų paskyros
Name[pl]=Konta użytkowników
Name[pt_BR]=Contas de Usuário
Name[pt_PT]=Contas de utilizador
Name[ru]=Учетные записи пользователя
Name[sk_SK]=Používateľské účty
Name[sl]=Uporabniški računi
Name[sv]=Användarkonton
Name[tr]=Kullanıcı Hesapları
Name[uk]=Облікові записи користувачів
Name[zh_TW]=使用者帳號
Comment=User Accounts
Comment[fr]=Comptes Utilisateur
Comment[pl]=Konta użytkowników
Comment[sk]=Používateľské účty
