#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Service
Icon=audio-card
Exec=kcmshell5 msm_mhwd

X-KDE-Library=msm_mhwd
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_mhwd
X-KDE-Keywords=hardware
X-KDE-Keywords[x-test]=xxhardwarexx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Hardware Detection
Name[ast]=Configuración de Hardware
Name[ca]=Configuració del maquinari
Name[cs_CZ]=Nastavení hardware
Name[da]=Hardware Konfiguration
Name[de]=Hardwarekonfiguration
Name[el]=Ρύθμιση Υλικού
Name[es]=Configuración de hardware
Name[es_419]=Configuración de Hardware
Name[es_AR]=Configuración de Hardware
Name[fr]=Configuration Matérielle
Name[hr]=Konfiguracija sklopovlja
Name[hu]=Hardware konfiguráció
Name[is]=Vélbúnaðar stillingar
Name[it]=Configurazione hardware
Name[ja]=ハードウェアの設定
Name[lt]=Aparatinės įrangos konfigūravimas
Name[pl]=Konfiguracja sprzętowa
Name[pt_BR]=Configuração do Hardware
Name[pt_PT]=Configuração de Equipamento (Hardware)
Name[ru]=Конфигурация оборудования
Name[sk_SK]=Konfigurácia hardvéru
Name[sl]=Strojna nastavitev
Name[sv]=Hårdvarukonfiguration
Name[tr]=Donanım Yapılandırma
Name[uk]=Конфігурація обладнання
Name[zh_TW]=硬體設定
Comment=Hardware detection and installation
Comment[fr]=Détection du matériel et installation
Comment[sk]=Rozpoznanie a inštalácia hardvéru
