#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Service
Icon=audio-card
Exec=kcmshell5 msm_mhwd

X-KDE-Library=msm_mhwd
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_mhwd
X-KDE-Keywords=hardware
X-KDE-Keywords[x-test]=xxhardwarexx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Hardware Detection
Name[ca]=Configuració del maquinari
Name[de]=Hardwarekonfiguration
Name[el]=Ρύθμιση υλικού
Name[es]=Configuración de hardware
Name[hr]=Konfiguracija sklopovlja
Name[hu]=Hardware Konfiguráció
Name[it]=Configurazione Hardware
Name[ja]=ハードウェアの設定
Name[lt]=Aparatinės įrangos konfigūravimas
Name[pl]=Konfiguracja sprzętowa
Name[pt_PT]=Configuração do Hardware 
Name[sk_SK]=Konfigurácia hardvéru
Name[sv]=Hårdvarukonfiguration
Name[tr]=Donanım Yapılandırma Aracı
Name[zh_TW]=硬體設定

Name[ast]=Configuración de Hardware
Name[cs_CZ]=Nastavení hardware
Name[da]=Hardware Konfiguration
Name[es_419]=Configuración de Hardware
Name[es_AR]=Configuración de Hardware
Name[fr]=Configuration Matérielle
Name[is]=Vélbúnaðar stillingar
Name[pt_BR]=Configuração do Hardware
Name[ru]=Конфигурация оборудования
Name[sl]=Strojna nastavitev
Name[uk]=Конфігурація обладнання

Comment=Hardware detection and installation
Comment[ca]=Interfície d&apos;usuari gràfica per a la Detecció de maquinari del Manjaro
Comment[de]=Grafische Benutzeroberfläche der Manjaro-Hardwareerkennung
Comment[es]=interfaz gráfica de usuario para Manjaro Hardware Detection
Comment[hr]=Grafičko korisničko sučelje za Manjaro Hardware Detection
Comment[hu]=Manjaro Hardware Érzékelés grafikus felhasználói felület
Comment[it]=Interfaccia grafica di Manjaro Hardware Detection
Comment[ja]=Manjaro Hardware Detection graphical user interface
Comment[lt]=Manjaro aparatinės įrangos aptikimo grafinė naudotojo sąsaja
Comment[pt_PT]=Manjaro Hardware Detection interface gráfica do utilizador 
Comment[sk_SK]=Grafické rozhranie pre rozpoznanie hardvéru systému Manjaro
Comment[sv]=Manjaros hårdvarudetekteringsverktyg
Comment[tr]=MHWD - Manjaro Donanım Yapılandırma grafik arayüzü
Comment[zh_TW]=Manjaro 硬體偵測圖形使用者介面
