[Desktop Entry]
Type=Service
Icon=preferences-desktop-locale
Exec=kcmshell5 msm_language_packages

X-KDE-Library=msm_language_packages
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_language_packages
X-KDE-Keywords=language;packages
X-KDE-Keywords[x-test]=xxkeyboardxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Language Packages
Name[ast]=Paquetes de llingua
Name[ca]=Paquets de llengua
Name[cs_CZ]=Jazykové balíčky
Name[da]=Sprog Pakker
Name[de]=Sprachpakete
Name[el]=Πακέτα γλωσσών
Name[es]=Paquetes de idioma
Name[es_419]=Paquetes de Idioma
Name[fr]=Paquets linguistiques
Name[he]=חבילות שפה
Name[hr]=Jezični paketi
Name[hu]=Nyelvi Csomagok
Name[is]=Tungumálapakkar
Name[it]=Pacchetti della lingua
Name[ja]=言語パッケージ
Name[lt]=Kalbos paketai
Name[pl]=Pakiety językowe
Name[pt_BR]=Pacotes de Idioma
Name[pt_PT]=Pacotes de Idiomas
Name[ru]=Языковые пакеты
Name[sk_SK]=Jazykové balíky
Name[sl]=Jezikovni paketi
Name[sv]=Språkpaket
Name[tr]=Dil Paketleri
Name[uk]=Мовні Пакунки
Name[zh_TW]=語言包
Comment=Language Packages
Comment[fr]=Paquets linguistiques
Comment[pl]=Paczki językowe
Comment[sk]=Jazykové balíky
