[Desktop Entry]
Type=Service
Icon=preferences-desktop-locale
Exec=kcmshell5 msm_language_packages

X-KDE-Library=msm_language_packages
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_language_packages
X-KDE-Keywords=language;packages
X-KDE-Keywords[x-test]=xxkeyboardxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Language Packages
Name[ca]=Paquets de llengua
Name[de]=Sprachpakete
Name[es]=Paquetes de idioma
Name[hr]=Jezični paketi
Name[hu]=Nyelvi Csomagok
Name[it]=Pacchetti Linguistici
Name[ja]=言語パッケージ
Name[lt]=Kalbos paketai
Name[pl]=Pakiety językowe
Name[pt_PT]=Pacotes de Lingua
Name[sk_SK]=Jazykové balíky
Name[sv]=Språkpaket
Name[tr]=Dil Paketleri
Name[zh_TW]=語言包

Name[ast]=Paquetes de llingua
Name[cs_CZ]=Jazykové balíčky
Name[da]=Sprog Pakker
Name[el]=Πακέτα γλωσσών
Name[es_419]=Paquetes de Idioma
Name[fr]=Paquets linguistiques
Name[he]=חבילות שפה
Name[is]=Tungumálapakkar
Name[pt_BR]=Pacotes de Idioma
Name[ru]=Языковые пакеты
Name[sl]=Jezikovni paketi
Name[uk]=Мовні Пакунки

Comment=Detection and installation of language packages
Comment[ca]=Detecció i instal·lació de paquets de llengua
Comment[de]=Erkennung und Installation von Sprachpaketen
Comment[es]=Detección e instalación de paquetes de idioma
Comment[hr]=Otkrivanje i instalacija jezičnih paketa
Comment[hu]=Nyelvi csomagok észlelése és telepítése
Comment[it]=Rilevamento ed installazione dei pacchetti linguistici
Comment[ja]=言語パッケージの検出とインストール
Comment[lt]=Kalbos paketų aptikimas ir įdiegimas
Comment[pl]=Wykrywanie i instalacja pakietów językowych
Comment[pt_PT]=Detecção e instalação de pacotes de lingua
Comment[sk_SK]=Rozpoznanie a inštalácia jazykových balíkov
Comment[sv]=Upptäckt och installation av språkpaket
Comment[tr]=Dil paketleri algılama ve yükleme aracı
Comment[zh_TW]=偵測與安裝語言包
Comment[fr]=Paquets linguistiques
