[Desktop Entry]
Type=Service
Icon=preferences-desktop-keyboard
Exec=kcmshell5 msm_keyboard

X-KDE-Library=msm_keyboard
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_keyboard
X-KDE-Keywords=keyboard
X-KDE-Keywords[x-test]=xxkeyboardxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Keyboard
Name[ast]=Axustes de tecláu
Name[ca]=Configuració del teclat
Name[cs_CZ]=Nastavení klávesnice
Name[da]=Tastatur Indstillinger
Name[de]=Tastatureinstellungen
Name[el]=Ρυθμίσεις Πληκτρολογίου
Name[es]=Configuración del teclado
Name[es_419]=Configuración de Teclado
Name[fr]=Paramètres clavier
Name[he]=הגדרות מקלדת
Name[hr]=Postavke tipkovnice
Name[hu]=Billentyűzet Beállítások
Name[is]=Stillingar lyklaborðs
Name[it]=Impostazioni della tastiera
Name[ja]=キーボードの設定
Name[lt]=Klaviatūros nustatymai
Name[pl]=Ustawienia klawiatury
Name[pt_BR]=Configurações de Teclado
Name[pt_PT]=Definições de teclado
Name[ru]=Настройки клавиатуры
Name[sk_SK]=Nastavenia klávesnice
Name[sl]=Nastavitve tipkovnice
Name[sv]=Tangentbordsinställningar
Name[tr]=Klavye Ayarları
Name[uk]=Налаштування клавіатури
Name[zh_TW]=鍵盤設定
Comment=Keyboard Settings
Comment[fr]=Paramètres du clavier
Comment[pl]=Ustawienia klawiatury
Comment[sk]=Nastavenia klávesnice
