[Desktop Entry]
Type=Service
Icon=preferences-desktop-keyboard
Exec=kcmshell5 msm_keyboard

X-KDE-Library=msm_keyboard
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_keyboard
X-KDE-Keywords=keyboard
X-KDE-Keywords[x-test]=xxkeyboardxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Keyboard Settings
Name[ca]=Configuració del teclat
Name[de]=Tastatureinstellungen
Name[el]=Ρυθμίσεις πληκτρολογίου
Name[es]=Configuración del teclado
Name[hr]=Postavke tipkovnice
Name[hu]=Billentyűzet Beállítások
Name[it]=Impostazioni Tastiera
Name[ja]=キーボードの設定
Name[lt]=Klaviatūros nustatymai
Name[pl]=Ustawienia klawiatury
Name[pt_PT]=Opções do teclado
Name[sk_SK]=Nastavenia klávesnice
Name[sv]=Tangentbordsinställningar
Name[tr]=Klavye Ayarları
Name[zh_TW]=鍵盤設定

Name[ast]=Axustes de tecláu
Name[cs_CZ]=Nastavení klávesnice
Name[da]=Tastatur Indstillinger
Name[es_419]=Configuración de Teclado
Name[fr]=Paramètres clavier
Name[he]=הגדרות מקלדת
Name[is]=Stillingar lyklaborðs
Name[pt_BR]=Configurações de Teclado
Name[ru]=Настройки клавиатуры
Name[sl]=Nastavitve tipkovnice
Name[uk]=Налаштування клавіатури

Comment=Keyboard Settings
Comment[ca]=Configuració del teclat
Comment[de]=Tastatureinstellungen
Comment[el]=Ρυθμίσεις πληκτρολογίου
Comment[es]=Configuración del teclado
Comment[hr]=Postavke tipkovnice
Comment[hu]=Billentyűzet beállítások
Comment[it]=Impostazioni della tastiera
Comment[ja]=キーボードの設定
Comment[lt]=Klaviatūros nustatymai
Comment[pl]=Ustawienia klawiatury
Comment[pt_PT]=Opções do Teclado
Comment[sk_SK]=Zmena nastavení klávesnice
Comment[sv]=Tangentbordsinställningar
Comment[tr]=Klavye ayarları
Comment[zh_TW]=鍵盤設定

Comment[fr]=Paramètres du clavier
