[Desktop Entry]
Type=Service
Icon=preferences-desktop-locale
Exec=kcmshell5 msm_locale

X-KDE-Library=msm_locale
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=manjaro
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_locale
X-KDE-Keywords=locale
X-KDE-Keywords[x-test]=xxkeyboardxx
Categories=Qt;KDE;X-KDE-settings-system;manjaro

Name=Locale
Name[ast]=Axustes de locale
Name[ca]=Configuració de llengua
Name[cs_CZ]=Místní nastavení
Name[da]=Område Indstillinger
Name[de]=Sprachumgebungseinstellungen
Name[el]=Τοπικές ρυθμίσεις
Name[es]=Configuración regional
Name[es_419]=Configuración Regional
Name[es_AR]=Configuración regional
Name[fr]=Paramètres régionaux
Name[he]=הגדרות מקומיות
Name[hr]=Postavke za jezične sheme
Name[hu]=Lokális Beállítások
Name[is]=Staðfærslustillingar
Name[it]=Impostazioni locali
Name[ja]=ロケールの設定
Name[lt]=Lokalės nustatymai
Name[pl]=Ustawienia lokalne
Name[pt_BR]=Configuações de Locais
Name[pt_PT]=Definições de localização (também linguística)
Name[ru]=Настройки региона
Name[sk_SK]=Miestne nastavenia
Name[sl]=Krajevne nastavitve
Name[sv]=Språkinställningar
Name[tr]=Yerel Ayarları
Name[uk]=Локальні налаштування
Name[zh_TW]=語言設定
Comment=Locale Settings
Comment[fr]=Paramètres régionaux
Comment[pl]=Ustawienia dotyczące języka
Comment[sk]=Miestne nastavenia
