[Desktop Entry]
Encoding=UTF-8
Version=0.5.0
Type=Application
Name=Manjaro Settings Manager
Name[pl]=Ustawienia Manjaro
Comment=
Exec=msm
StartupNotify=false
Terminal=false
Hidden=false
